<a href="https://colab.research.google.com/github/Maxxalves/PowerBI-DataScience/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Em Python, as tuplas são uma estrutura de dados semelhante a listas, que permite armazenar uma coleção de itens. No entanto, ao contrário das listas, as tuplas são imutáveis, ou seja, você não pode adicionar, remover ou alterar elementos depois de criar a tupla. Algumas das principais características e usos das tuplas em Python incluem:
'''

In [29]:
# criando uma tupla
minha_tupla = (1, 2, 3, 4, 5)

In [32]:
# acessando o primeiro elemento
print(minha_tupla[0])

1

In [37]:
# acessando o último elemento
print(minha_tupla[4])

5

In [8]:
# acessando um elemento específico
print(minha_tupla[2])

3

In [9]:
# tentando alterar um elemento da tupla (gera erro, pois as tuplas são imutáveis)
minha_tupla[0] = 100

TypeError: ignored

In [10]:
# criando uma lista de números
numeros = [1, 2, 3, 4, 5]

In [11]:
# criando uma lista de strings
palavras = ["olá", "mundo", "python"]

In [ ]:
'''
Indexação e fatiamento: Você pode acessar elementos individuais em uma lista usando índices, e também pode fazer fatias para selecionar uma faixa de elementos. 
'''

In [12]:
# acessando o primeiro elemento
print(numeros[0])

1

In [40]:
# acessando o último elemento
print(numeros[4])

6

In [41]:
# fazendo uma fatia da lista
print(numeros[1:3])

[3, 4]

In [45]:
'''
Adição e remoção de elementos: Você pode adicionar novos elementos a uma lista usando o método append() ou ao concatenar listas com o operador +. Também é possível remover elementos de uma lista usando a função remove() ou a instrução del.
'''

'\nAdição e remoção de elementos: Você pode adicionar novos elementos a uma lista usando o método append() ou ao concatenar listas com o operador +. Também é possível remover elementos de uma lista usando a função remove() ou a instrução del.\n'

In [58]:
# removendo elementos de uma lista
numeros.remove(8)

In [19]:
print(numeros)

[1, 3, 4, 5, 6]

In [ ]:
''' Iteração: Você pode iterar sobre elementos de uma lista usando um laço for.'''

In [21]:
# iterando sobre elementos de uma lista
for numero in numeros: 
  print(numero)

1
3
4
5
6

In [ ]:
''' Armazenamento de dados: Os dicionários são usados para armazenar dados relacionados, como informações de contato de uma pessoa, preços de produtos, etc.'''

In [22]:
# criando um dicionário
pessoa = {"nome": "João", "idade": 30, "cidade": "São Paulo"}

In [77]:
# acessando um valor pela sua chave
print(pessoa["nome"],["idade"], ['cidade'])

João ['idade'] ['cidade']

In [ ]:
''' Adição e remoção de elementos: Você pode adicionar novos elementos a um dicionário atribuindo valores a novas chaves, ou alterar o valor de uma chave existente. Também é possível remover elementos de um dicionário usando o método pop().'''

In [24]:
# adicionando elementos ao dicionário
pessoa["telefone"] = "1234-5678"
print(pessoa)

{'nome': 'João', 'idade': 30, 'cidade': 'São Paulo', 'telefone': '1234-5678'}

In [25]:
# removendo elementos de um dicionário
pessoa.pop("idade")
print(pessoa)

{'nome': 'João', 'cidade': 'São Paulo', 'telefone': '1234-5678'}

In [ ]:
''' Iteração: Você pode iterar sobre as chaves ou valores de um dicionário usando os métodos keys() e values()'''

In [27]:
# iterando sobre as chaves de um dicionário
for chave in pessoa.keys():
  print(chave)

nome
cidade
telefone

In [ ]:
# iterando sobre os valores de um dicionário

In [28]:
for valor in pessoa.values():
    print(valor)

João
São Paulo
1234-5678

In [1]:
# NOMEANDO VARIAVEIS 
# 1 DECLARAR VARIVEIS EM UMA UNICA LINHA DE CODIGO
# 2 ABRIR UM VALOR A DIVERSAS VARIAVEIS
# 3 DECLARAR USANDO UMA LISTA
# 4 COMBINAR VARIAVEIS
# 5 OPERAR COM OPERADORES MATEMATICOS
# 6 MUITOS OUTROS

In [2]:
# DECLARAR VARIVEIS EM UMA UNICA LINHA DE CODIGO

In [3]:
 Laranja,Melão, Limão = 1,2,3

In [4]:
print(Laranja,Melão, Limão)

1 2 3

In [8]:
 Morango = Uva = Kiwi = 1000

In [10]:
print(Morango, Uva, Kiwi)

(1000, 500, 200) (1000, 500, 200) (1000, 500, 200)

In [11]:
# Nomear comistas

In [12]:
lista_carros = ['bmw', 'audi', 'tesla']

In [13]:
marca_01, marca_02, marca_03 = lista_carros

In [14]:
print(marca_01, marca_02, marca_03)

bmw audi tesla

In [15]:
# combinar variaveis

In [22]:
 nome = 'Max'
 sobrenome = 'Alves'
 nome_completo = nome +' '+ sobrenome
 print(nome_completo)

Max Alves

In [24]:
# experimento

nome = 'Max'
idade = 45
nome_mais_idade = nome, + 45
print(nome_mais_idade)

('Max', 45)

In [35]:
# Outro jeito é

nome = ('max_esta_com')
idade = str(45) 
print(nome +' '+ idade)

max_esta_com 45

In [41]:
investimento = 1000
taxa_juros = float('0.2')
print(investimento * taxa_juros)
valor_ganhado = (investimento * taxa_juros) + investimento
print(valor_ganhado)

200.0
1200.0